body{
    margin: 0 auto;
    padding: 0px;
    color: white;
}


.RR_navbar{
    width: 100%;
    min-height:70px;
    background: red;
    float: left;    
    /* margin-bottom:15px ; */
    padding: 10px;
}

.RRNav{
    width: 100%;
    min-height: 400px;
    background: green;
    float: left;
    margin-top: 4%;
    padding: 10px;
}

.RRArticle{
    width: 98%;
    min-height: 400px;
    background: blue;
    float: left;
    margin: 0 1%;
    margin-top: 1%;
    margin-bottom: 1%;
    padding: 10px;
}

.RRAds{
    width: 100%;
    min-height: 400px;
    background: purple;
    float: left;
    margin-top: 4%;
    padding: 10px;
}




/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 601px) {
    .RR_navbar{
    }
    
    .RRNav{
        margin-top: 4%;
    }
    
    .RRArticle{
        width: 94%;
        margin: 0 3%;
        margin-top: 4%;
        margin-bottom: 4%;
    }
    
    .RRAds{
        float: left;
        margin-top: 4%;
    }

}

@media only screen and (min-width: 993px) { 
    .RR_navbar{
        width: 100%;
        min-height:70px;
    }
    
    .RRNav{
        width: 100%;
        min-height: 400px;
        margin-top: 4%;
    }
    
    .RRArticle{
        width: 98%;
        min-height: 400px;
        margin: 0 1%;
        margin-top: 1%;
        margin-bottom: 1%;
    }
    
    .RRAds{
        width: 100%;
        min-height: 400px;
        margin-top: 4%;
    }


}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1300px) {
    body{
        margin: 0 auto;
        padding: 0px;
    }
    
    
    .RR_navbar{
        width: 100%;
        min-height:70px;
        /* margin-bottom:15px ; */
    }
    
    .RRNav{
        width: 100%;
        min-height: 400px;
        margin-top: 4%;
    }
    
    .RRArticle{
        width: 98%;
        min-height: 400px;
        margin: 0 1%;
        margin-top: 1%;
        margin-bottom: 1%;
    }
    
    .RRAds{
        width: 100%;
        min-height: 400px;
        margin-top: 4%;
    }

    
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 767px) {
    body{
        margin: 0 auto;
        padding: 0px;
    }
    
    
    .RR_navbar{
        width: 100%;
        min-height:50px;
    }

    .RRNav{
        width: 100%;
        min-height: 100px;
        margin-top: 15px;
    }
    
    .RRArticle{
        width: 100%;
        min-height: 100px;
        margin: 15px 0px 0px 0px;
        
    }
    
    .RRAds{
        width: 100%;
        min-height: 100px;
        margin-top: 15px;
        margin-bottom: 15px;
    }


}



